.Tutorial {
  width: 100%;
  overflow-x: hidden;
}

.Tutorial ::selection {
  background: var(--color1);
  color: var(--color7);
}

.Tutorial-page {
  padding: 3em 0;
}

.Tutorial-page_narrow {
  height: 10vh;
}

.Tutorial-page_inverse {
  background: var(--color7);
  color: var(--color0);
}

.Tutorial-page_inverse a {
  color: var(--color0);
}

.Tutorial-page_inverse ::selection {
  background: var(--color6);
  color: var(--color0);
}

.Tutorial-page_inverse_open {
  width: 100vw;
  height: 10vh;
  padding: 0;
  border-style: solid;
  border-width: 5vh 50vw;
  border-color: transparent var(--color7) var(--color7) transparent;
}

.Tutorial-page_inverse_close {
  width: 100vw;
  height: 10vh;
  padding: 0;
  border-style: solid;
  border-width: 5vh 50vw;
  border-color: var(--color7) var(--color7) transparent transparent;
}

.Tutorial-text {
  clear: left;
  margin: 0 0 0 10em;
  padding-right: 2em;
  max-width: 36em;
}

.Tutorial-wide {
  clear: left;
  padding-left: 10em;
  padding-right: 2em;
  width: 100%;

  overflow: hidden;
}

.Tutorial-swatch {
  display: inline-block;
  width: 6vw;
  height: 6vw;
}

.Tutorial-page h1 {
  margin: 1em 0 0.25em;
}

.Tutorial-page p {
  margin: 0.5em 0 0.75em;
}

.Tutorial-page .ColorSpace {
  float: left;
}
