.GithubCorner:hover .GithubCorner-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.GithubCorner svg {
  fill: var(--color7);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  color: var(--color0);
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .GithubCorner:hover .GithubCorner-arm {
    animation: none;
  }

  .GithubCorner .GithubCorner-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
